@font-face {
    font-family: 'Mosk Extra-Bold 800';
    font-style: normal;
    font-weight: normal;
    src: local('Mosk Extra-Bold 800'), url('http://leeboa.com/portfolio2/font/Mosk Extra-Bold 800.woff') format('woff');
    }