@charset "utf-8";
/* 배경 */
body {
<<<<<<< HEAD
	background-color: #282828;
=======
	background-color: #FFD700;
>>>>>>> ba12ac63403b2c4f774bfc49443891e7160b631b
  }

/* 메인 네비게이션 */
.main-nav {
	font-size: 1.25rem;
	text-transform: uppercase;
	text-align: right;
<<<<<<< HEAD
	color : white;	
	display: flex;
	float: right;
=======
	color : #505050;	
	display: flex;
	float: right;
	font-family: '현';
>>>>>>> ba12ac63403b2c4f774bfc49443891e7160b631b
}

.main-nav li{
	list-style-type: none;
	margin-left: 5px;
}

.main-nav #navA{
<<<<<<< HEAD
	color: white;
=======
	color: #505050;
>>>>>>> ba12ac63403b2c4f774bfc49443891e7160b631b
	text-decoration: none;
	margin-left: 5px;
}

.main-nav #navA:hover{
<<<<<<< HEAD
	color: #ffb0cf;
=======
	color: tomato;
>>>>>>> ba12ac63403b2c4f774bfc49443891e7160b631b
}

.main-nav #mainName{
	font-size: 40px;
	text-decoration: underline;
	margin-left: 10px;
	margin-right: 30px;
}

.main-nav p{
<<<<<<< HEAD
	font-size: 1rem;
	margin-left: 5px;
	margin-right: 30px;
=======
	font-size: 0.8rem;
	margin-left: 5px;
	margin-right: 30px;
	font-weight: bold;
>>>>>>> ba12ac63403b2c4f774bfc49443891e7160b631b
}

/*메인 화면으로 돌아가기*/
.mainDiv{
	border : 5px solid;
    padding : 30px;
<<<<<<< HEAD
    width : 200px;
	height: 200px;
	color: white;
	margin-top: 10px;
	display: flex;
	text-decoration: none;
=======
    width : 120px;
	height: 120px;
	color: #505050;
	margin-top: 10px;
	margin-left: 20px;
	display: flex;
>>>>>>> ba12ac63403b2c4f774bfc49443891e7160b631b
	text-align: left;
}

.mainDiv p{
<<<<<<< HEAD
	color: white;
	text-decoration: none;
	font-size: 2.5rem;
	margin-left: 15%;
	margin-top: 30%;
=======
	color:#505050;
	text-decoration: none;
	font-size: 2.0rem;
	margin: 3px;
>>>>>>> ba12ac63403b2c4f774bfc49443891e7160b631b
}

.mainDiv:hover,
p:hover{
<<<<<<< HEAD
	color:#ffb0cf;
=======
	color:tomato;
>>>>>>> ba12ac63403b2c4f774bfc49443891e7160b631b
}

/*타이핑 화면 구현*/
.text_box{
	font-size: 5rem;
	text-align: center;
<<<<<<< HEAD
	color:white;
	margin-top: 200px;
	font-family: 'ONE-Mobile-POP';
=======
	color:#505050;
	margin-top: 180px;
	font-family: '현';
>>>>>>> ba12ac63403b2c4f774bfc49443891e7160b631b
  }
  
  .blink {
	animation: blink 0.5s infinite;
	font-size: 2.5rem;
  }
  
  @keyframes blink {
	to {
	  opacity: 0;
	}
  }