@charset "utf-8";
/* 스킵 메뉴*/
.wrap {
	background-color: #282828;
	height: 100vh;
	margin: 0px;
  }

.main-nav {
	font-size: 1.25rem;
	height: 30px; 
	width: 80px;
}

.main-nav ul li {
	font-size : 1.5rem;
	display: block;
	color : white;
	list-style: none;
	float: left;
	line-height: 30px;
	text-align: center;
}

.main-nav #nav {
	color : white;
	display: block;
	width: 15px;
	font-size: 1.25rem;
	font-weight: bold;
}